# =========================
# Gradle
# =========================
.gradle/
build/
out/

# Gradle local properties
local.properties

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db