# =========================
# Gradle
# =========================
.gradle/
build/
out/

# Gradle local properties
local.properties

.vscode/
.deploy.ps1
.deploy_portatile.ps1

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db